.container {
  background-color: azure;
  margin: 1.5%;
  padding: 3%;
  border: 2px solid rgb(9, 133, 133);
}

.container__title {
  color: rgb(1, 59, 59);
}

.container__min-max {
  margin-top: 6%;
  font-weight: bold;
}